<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="min-h-screen flex flex-col justify-center items-center">
    <h2 class="bg-green-300 mb-4">Hello welcome to my app</h2>
    <div class="flex flex-col justify-center items-center gap-2">
        <button (click)="showBanner()" class="px-4 py-3 bg-black text-white rounded-full">Show Banner</button>
        <button (click)="hideBanner()" class="px-4 py-3 bg-black text-white rounded-full">Hide Banner</button>
        <button (click)="showInterstitial()" class="px-4 py-3 bg-black text-white rounded-full">Show Interstitial</button>
        <button (click)="showReward()" class="px-4 py-3 bg-black text-white rounded-full">Show Reward Video</button>
    </div>
</main>


<router-outlet />


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


